
<section class="choose-shop" class="row">
    <div class="small-centered small-12 large-8 columns">
    <h3>Choose Location</h3>

    <% if @shops.empty? %>
        <p> Sorry! Please check back later. All shops are closed at the moment. </p>
    <% else %>
        <ul class="unordered">
        <% @shops.each do |shop| %>
            <%# We are passed in an action_path for what we want to do for each shop. Currently 2 cases -> Either start ordering (new_request_path) or browse requests from a shop (browse_requests_requests_path) %>
            <%= link_to params[:action_path] + "?shop_id=" + shop.id.to_s() do %>
                <li class="location">
                    <div class="location_image">
                        <%= image_tag shop.image_url %>
                    </div>
                    <div class="location_desc">
                        <h5><%= shop.name %></h5>
                        <p>
                            <%= shop.address %><br />
                            Open <%= shop.get_hours %>
                        </p>
                    </div>
                </li>
            <% end %>
        <% end %>
        </ul>
    <% end %>

    <%= render :partial => "shop_times" %>

    <%= link_to "Return to Home", "/", class: 'button secondary' %>
    </div>
</section>