<%= simple_form_for(@user) do |f| %>

  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password, required: true%>
  <%= f.input :password_confirmation, required: true %>

  <div class="actions">
    <%= f.button :submit, "Get started", :class => 'button primary'%>
  </div>
<% end %>
