<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Number of Requests: </strong>
  <%= @user.requests.count%>
</p>

<p>
  <strong>Total Ranking: </strong>
  <%= @user.ranking %>
</p>

<%= link_to "Rate", rate_user_path, class: 'button' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
