<section id="your_deliveries" class="row">
    <div class="small-centered small-12 large-8 columns">
    <h3>Your deliveries</h3>
    <% if @your_deliveries.size < 1 %>
        <p> You have no deliveries in progress at the moment. </p>
    <% else %>
        <ul class="unordered lined">
        <% @your_deliveries.each do |delivery| %>
            <li>
                <h5><span class="pink">(<%= delivery.request.shop.name %>)</span> <%= delivery.request.item_names %></h5>
                <p>
                    Cost: <%= Request.format_cost(delivery.request.total_cost()) %> / <span class="pink">Profit: <%= delivery.get_profits() %></span>
                    <br />
                    Claimed <%= time_ago_in_words(delivery.created_at) %> ago
                    <br />
                    Requested by <%= delivery.request.user.username %> <%= time_ago_in_words(delivery.request.items.first.created_at) %> ago
                    <br />
                    <div class="request_actions">
                        <%= link_to "Close order", close_delivery_path(delivery), class: 'button secondary' %>
                        <%= mail_to delivery.request.user.email, "Contact requester", encode: "javascript", class: 'button primary'%>
                    </div>
                </p>
            </li>
        <% end %>
        </ul>
    <% end %>
    </div>
</section>