
<% if current_user %>
    <section id="welcome">
        <h3>Welcome <%= current_user.username %>!</h3>
        <%= link_to "Request an Order", choose_shop_shops_path(:action_path => new_request_path), class: 'button primary', id: 'request_button' %>
        <%= link_to "Claim an Order", choose_shop_shops_path(:action_path => browse_requests_requests_path), class: 'button tertiary', id: 'claim_button' %>
    </section>

    <%= render :partial => "your_requests" %>
    <%= render :partial => "your_deliveries" %>

<% else %>
    <div class="bean-background"></div>
    <div class="intro">
        <section class="row">
            <div class="small-centered small-12 medium-8 columns">
                <h2>Need Coffee? <br />
                    No time?</h2>
                <h3>Let's fix that.</h3>
                <%= link_to "Sign Up", new_user_path, class: "button primary", id: "request_button" %>

                <%= button_to "Login", "/login", class: 'button tertiary', id: 'login_button' %>
            </div>
        </section>
    </div>

    <section id="about" class="row">
        <div class="small-centered small-12 medium-8 columns">
            <h3>What is expressOH?</h3>
            <p>
                People are busy, but need their caffiene. Why sacrifice precious time when others are already in line? And why not make a buck or two if you're getting coffee anyway? expressOH brings two and two together, making it easier for busy people to get their coffee fix while also helping purchasers make money on the side.
            </p>
        </div>
    </section>

    <section id="faq" class="roq">
        <div class="small-centered small-12 medium-8 columns">
            <h3>How does it work?</h3>
            <h4>I need coffee.</h4>
            <ol>
                <li>Request coffee</li>
                <li>Wait for someone to claim</li>
                <li>Meet to recieve coffee</li>
                <li>Pay in cash</li>
            </ol>

            <h4>I want to make money.</h4>
            <ol>
                <li>Claim requests on expressOH!</li>
                <li>Buy claimed orders</li>
                <li>Meet with recipient</li>
                <li>Get paid cash by recipient</li>
            </ol>

            <h4>Meet the Team</h4>
            <ul class="unordered lined">
                <li>Achal Channarasappa</li>
                <li>Angela Liu</li>
                <li>Theophilus Onime</li>
            </ul>
        </div>
    </section>


<% end %>

