<%= simple_form_for @request do |f| %>
    <section id="menu">
        <% if @request.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
                <ul>
                    <% @request.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= f.input :shop_id, input_html: { value: @request.shop_id}, as: :hidden %>

        <ul class="unordered lined">
            <%= f.input :item_ids, collection: @menu, as: :check_boxes, 
            :label_method => lambda { |item| 
                "<li >
                    <span class=\"pink\">(#{number_to_currency(item.price)})</span> #{item.name}
                </li>".html_safe }, label: false  %>
        </ul>
    </section>

    <section>
        <div class="actions">
            <div id="total_price"><h3>Total: <span class="pink">$0.00</span></h3></div>
            <%= f.submit "Confirm", class: 'button primary' %>
            <%= link_to 'Return to home', choose_shop_shops_path(:action_path => new_request_path), class: 'button secondary' %>
        </div>
    </section>
<% end %>
