
<section>

    <h3>Requests for <span class="pink"><%= @shop.name %></span></h3>

    <ul class="unordered">
    <% @shop.requests.each do |request| %>
        <li>
            <span class="pink">(<%= request.format_cost(request.total_cost) %>)</span>
            <% if request.items.size < 2 %>
                <%= request.items[0].name%>
            <% else %>
                <ul class="inline">
                <% request.items.each do |item| %>
                    <li><%= item.name %></li>
                <% end %>
                </ul>
            <% end %>
            <br />
            <%= request.minute_age() %> by "<%= request.user.username %>"
        </li>
    <% end %>
    </ul>

    <%= link_to 'Return to home', "/", :class => "button secondary" %>

</section>
